//----------------------------------------------------
// Media queries
//----------------------------------------------------

$mq-xs: 320px; // 320px
$mq-sm: 550px; // 550px
$mq-md: 770px; // 770px
$mq-lg: 960px; // 960px
$mq-xl: 1400px; // 1400px

// Applied to this width and above
@mixin at-least($device-width) {
  @media screen and (min-width: $device-width) {
    @content;
  }
}

// Applied below this width
@mixin until($device-width) {
  @media screen and (max-width: $device-width - 1px) {
    @content;
  }
}

//----------------------------------------------------
// Fonts
//----------------------------------------------------

@mixin sans-serif {
  font-family: "HelveticaNeue", Helvetica, sans-serif;
}

//----------------------------------------------------
// Font smoothing
//----------------------------------------------------

@mixin antialiased {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

@mixin disable-antialiased {
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: never;
}
