//----------------------------------------------------
// Colors
//----------------------------------------------------

$color-links: deepskyblue;

//----------------------------------------------------
// Z-indices
//----------------------------------------------------

$z-menu: 1000;
$z-overlay: 5000;

//----------------------------------------------------
// Easing equations
//----------------------------------------------------

$ease-less: cubic-bezier(0, 0, 0.5, 1);

//----------------------------------------------------
// Font Declarations
//----------------------------------------------------

$font-size-xl: 4rem; // 60px
$font-size-lg: 2rem; // 32px
$font-size-md: 1.25rem; // 20px
$font-size-sm: 1rem; // 16px
$font-size-xs: 0.75rem; // 12px
