//----------------------------------------------------
// Global Box Sizing set to Border Box
//----------------------------------------------------

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

html {
  @include sans-serif;
  font-size: 100%;
  line-height: 1.5;
  overflow-x: hidden;
  width: 100%;

  // Prevent font-size increase from an orientation change
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: $color-link;
}
