//----------------------------------------------------
// Icons
//----------------------------------------------------

.icon {
  // // Lets the icon inherit the text color.
  fill: currentColor;

  // // Inherit the text’s size too. Also allows sizing the icon by changing its font-size.
  width: 1em;
  height: 1em;

  // Nice visual alignment for icons alongside text. (With most fonts and styles, this works better than just vertical-align: middle. Try it and see what you like best.)
  vertical-align: -0.15em;

  // Paths and strokes that overflow the viewBox can show in IE.
  overflow: hidden;
}

.access-label {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}
