//---------------------------------------------------
// Vertical spacing w/ lobotomized owls
//---------------------------------------------------

// This can be changed from body to main in instances where
// it would be more work to override this for other elemnents/layouts
body * + * {
  margin-top: 1.5em;
}

.margins-compact * + * {
  margin-top: 0.75em;
}

.margins-large * + * {
  margin-top: 2em;
}

.margins-off * + * {
  margin-top: 0;
}
